
:root {
  /* The card height is the base for the layout: */
  --card-height: 180px;
  --playout-height: 70px;
}

.gridheader  { grid-area: h; }
.gridaction  { grid-area: a; }
.gridaction2  { grid-area: a2; }
.gridsystemaction  { grid-area: s; }
.gridplayout { grid-area: p; }
.gridexchangeaction { grid-area: xa; }
.gridexchange { grid-area: x; }
.nameplayer0 { grid-area: p0; }
.nameplayer1 { grid-area: p1; }
.nameplayer2 { grid-area: p2; }
.nameplayer3 { grid-area: p3; }
.nameplayer0, .nameplayer1, .nameplayer2, .nameplayer3 { font-weight: bold; }
.gridplayout1 { grid-area: o1; }
.gridplayout2 { grid-area: o2;  }
.gridplayout3 { grid-area: o3;  }
.gridplayout0 { grid-area: o0;  }
.gridcards   { grid-area: c}
.grid-container {
  display:grid;
  grid-template-areas:
    'h  h  h  h'
    'p1 p2 p3 s'
    'o1 o2 o3 s'
    '.  o0 a2 x'
    '.  p0 .  .'
    '.  p  a  xa'
    'c  c  c  c';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  background-color: #2196f3;
  padding: 1px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0px ;
}
.grid-container > .left {
  text-align: left;
}
.floatleft { float:left; }
.floatright { float:right; }

#cards, #myplayout, #exchange, .playoutothers {
    float:left; list-style-type: none; margin: 0px; padding: 0px; width: 100%;
}
#cards, #exchange, .playoutothers {
    min-height: calc(var(--card-height) + 10px);
}
#myplayout { height: var(--playout-height); }

#cards li, #myplayout li, #exchange li, .playoutothers li {
    float:left; margin: 5px; padding: 0px;
    width:20px;
}

#cards li, #exchange li, .playoutothers li {
    min-height: var(--card-height);
}

#myplayout li { 
    height: calc(var(--playout-height) - 10px); 
}
#myplayout {
    overflow: hidden;
}
.playoutothers {
    overflow: hidden;
}

#cards li { width: 50px; }
#cards, .grid-container .gridplayout   { background: #afa; }
#exchange  { background: #777; }
#exchangeaction  { background: #444; }
.playoutothers { background: #278c60; }
.playoutnext { background: #fce549; }

#countResult li { text-align:left; }

.card-list-element {  border: 0px; height: var(--card-height); }
.card-list-element img {  height: var(--card-height); }

.highlight { background: rgba(255, 250, 144, 0.70); }

.hidden { visibility: hidden; }

.plusminus {
       padding-left: 0px;
       padding-right: 0px;
}

.shuffle-dialog-style { background: rgba(40,40,40,0.9); }
.compact-button { padding: 0.2em 1em; border-radius:3px; }
